{% extends "app1/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'app1/css/main.css'%}">
<title>B&B main</title>
{% endblock %}
{% block content %}
<div>
    <br>
    <br>
    <table border="2" width="100%" cellpadding="5">
        <tr>
            <th>Photo</th>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Bluetooth or wire</th>
            <th>Connection type</th>
            <th>Price</th>
            <th>More information</th>
         </tr>
        {% for prod in Products %}
        <tr>
        {% if prod.photo != 'None' %}
            <th><img src="{{ prod.photo.url }}" class="picture"></th>
        {% else %}
            <th><img src="{% static 'images/non_img.jpg'%}" class="picture"></th>
        {% endif %}
            <th>{{ prod.name}}</th>
            <th>{{ prod.get_manufacturer_display }}</th>
            <th>{{ prod.get_bluetooth_or_wire_display}} </th>
            <th>{{ prod.get_type_connector_display}} </th>
            <th>{{ prod.price}} </th>
            <th><a href="{% url 'product_details' pk=prod.pk %}" class="buy-link">See more</a></th>
        </tr>
        {% endfor %}
    </table>
     {% bootstrap_pagination Products %}
</div>
{% endblock %}
